[submodule ".vim/pack/auto/start/vim-buftabline"]
	path = .vim/pack/auto/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule ".vim/pack/auto/start/vim-crystal"]
	path = .vim/pack/auto/start/vim-crystal
	url = https://github.com/rhysd/vim-crystal
[submodule ".vim/pack/auto/start/vim-go"]
	path = .vim/pack/auto/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/auto/start/vim-gutentags"]
	path = .vim/pack/auto/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule ".vim/pack/auto/start/vim-sbd"]
	path = .vim/pack/auto/start/vim-sbd
	url = https://github.com/cespare/vim-sbd
[submodule ".vim/pack/auto/start/nerdtree"]
	path = .vim/pack/auto/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
