[user]
	email = jcs@jcs.org
	name = joshua stein

[alias]
	diff-remote = diff origin..master
	ff = pull --ff-only
	fixup = rebase -i HEAD~5
	graph = log --oneline --all --graph --decorate
[push]
	default = simple
[color]
	ui = never
[diff]
	compaction-heuristic = true
	noprefix = true
[url "git@github.com:"]
	insteadOf = https://github.com/
