QMainWindow {
    background-color: #eae5ce;
}
QTreeView {
    alternate-background-color: #dcd7c1;
    selection-color: black;
    selection-background-color: #a3ccbd;
}
QSlider::groove:horizontal {
    background-color: #a3ccbd;
}