<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>setenv.LANG</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/launchctl</string>
			<string>setenv</string>
			<string>LANG</string>
			<string>en_US.UTF-8</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>ServiceIPC</key>
		<false/>
	</dict>
</plist>
